.popup__sumbit {
  box-sizing: border-box;
  border: none;
  width: 100%;
  min-height: 46px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
  border-radius: 2px;
}

@media screen and (min-width: 900px) {
  .popup__sumbit {
    min-height: 50px;
  }
}