.profile__subtitle {
  margin: 0;
  margin-bottom: 36px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  max-width: 250px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 900px) {
  .profile__subtitle {
    text-align: left;
    max-width: 500px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 22px;
  }
}