.popup__close-button {
  position: absolute;
  top: -40px;
  right: 0;
  border: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
  background-image: url(../../../images/icon-close_popup.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 20px;
}

@media screen and (min-width: 900px) {
  .popup__close-button {
    width: 32px;
    height: 32px;
    right: -35px;
    background-size: 32px 32px;
  }
}