.cards__like-button {
  padding: 0;
  width: 22px;
  height: 19px;
  border: none;
  background-color: transparent;
  background-image: url(../../../images/icon-button_like.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}

.cards__like-button:hover {
  opacity: .5;
}